thead{
    background-color:#99CC99;
    font-family:cursive;
    padding: 0px;
}
.left{
    background-color:#99CCB2;
    font-family:cursive;
}
.right{
    background-color:#B2B299;
    font-family:cursive;
}